body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: center;
}

nav {
    background-color: #34495e;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #2c3e50;
    transition: background-color 0.3s ease;
}
nav a:hover {
    background-color: #34495e;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 800px;
    margin: 180px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 5px;
    width: 80%;
}

.container h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.container p {
    margin-bottom: 10px;
}

.container ul {
    list-style: none;
    padding: 0;
}

.container ul li {
    margin-bottom: 10px;
}

.container ul li strong {
    font-weight: bold;
}
.author-list, .publisher-list{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}
footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top: 5px solid #1a242f;
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

