<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/css/ContactStyle.css">
</head>
<body>
<header>
    <h1>Contact</h1>
</header>
<nav>
    <a th:href="@{/book/general}">Home</a>
    <a th:href="@{/book/data}">Catalog</a>
    <a th:href="@{/author/data}">Authors</a>
    <a th:href="@{/publisher/data}">Publishers</a>
    <a th:href="@{/book/contact}">Contact</a>
</nav>
<div class="container">
    <h2>Contact Information</h2>
    <p>Thank you for your interest in contacting me! If you have any questions, inquiries, or just want to chat, feel free to reach out to me through the following means:</p>
    <ul>
        <li><strong>Email:</strong> OscarInsano@gmail.com</li>
        <li><strong>Phone:</strong> +323456789</li>
        <li><strong>Address:</strong> WHERE YOUR MOMMA DOG IS</li>
    </ul>
    <p>I am available to respond to your messages and assist you with whatever you need. Looking forward to hearing from you soon!</p>
</div>
<footer>
    <p>Copyright © 2024 - Library</p>
</footer>
</body>
</html>
