<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Library</title>
    <link rel="stylesheet" href="/css/principalWeb.css">
</head>
<body>
<header>
    <h1>Welcome to the Library</h1>
</header>
<nav>
    <a th:href="@{/book/general}">Home</a>
    <a th:href="@{/book/data}">Catalog</a>
    <a th:href="@{/author/data}">Authors</a>
    <a th:href="@{/publisher/data}">Publishers</a>
    <a th:href="@{/book/contact}">Contact</a>
</nav>
<div class="container">
    <h2>Featured Books</h2>
    <div class="book-list">

        <div class="book" th:each="book : ${lastBooks}">
            <h3 th:text="${book.name}"></h3>
            <p>Author: <span th:text="${book.authorName}"></span></p>
            <p>Year of Publication: <span th:text="${book.yearPublished}"></span></p>
            <p>Publisher: <span th:text="${book.publisherName}"></span></p>
            <p>Description: <span th:text="${#strings.substring(book.description, 0, 50) + '...'}"></span></p>
        </div>

    </div>
</div>
<footer>
    <p>Copyright © 2024 - Library</p>
</footer>
</body>
</html>
